
<!-- 



<% include('../layouts/header.ejs')%>

<form action="" methods="POST" enctype="multipart/form-data">

    <input type="hidden" name="user_id" value="<%user._id%>">
    <input type="text" name="name" value="<%= user.name %>"placeholder="Enter Name" required>
    <br><br>
    <input type="text" name="email" value="<%= user.email %>"placeholder="Enter Email" required>
    <br><br>
    <input type="text" name="mno" value="<%= user.mobile%>"placeholder="Enter Mobile" required>
    <input type="submit" value="Update Profile">
</form>

<% include('../layouts/header.ejs')%> -->